<p>
  <strong>Title:</strong>
  <%= @railway_station.title %><br>
  <strong>Trains:</strong><br>
  <% @railway_station.trains.each do |train| %>
  <%= link_to train.number, admin_train_path(train) %> <br>
  <% end %>
</p>

<%= link_to 'Edit', edit_admin_railway_station_path(@railway_station) %> |
<%= link_to t('common.back'), admin_railway_stations_path %>
