<p id="notice"><%= notice %></p>

<h1>Carriages</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Number of up seats</th>
      <th>Number of down seats</th>
      <th>Train number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @carriage.each do |carriage| %>
      <%= render carriage %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Carriage', new_carriage_path %>
